.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3em;
}

.customer {
    background-color: cornflowerblue;
    border-color: darkorange;
    color: black;
}