.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color: cornflowerblue;
    border: 1px dotted darkorange;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.ticket__finish {
    margin-left: 25em;
}

.ticket__delete {
    margin-left: 25em;
    background-color: darkorange;
}